div#about {
    background: #f4f4f4;
}
div#howitworks {
    background: #f0f0f0;
}

.banner-slider .swiper-button-next, .banner-slider .swiper-button-prev {
    top: 10%;
}

.basic-3 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.basic-3 p {
    text-align: justify;
}
.basic-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: justify;
}

.navbar-custom.top-nav-collapse .nav-item .nav-link:hover, 
.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
    color: #ec4e1d;
    font-weight: 600;
}

.section-heading {
    position: relative;
    padding-bottom: 30px;
    margin: 0 0 50px;
    letter-spacing: .05em;
    /* text-transform: uppercase; */
    display: block;
    /* font-weight: 500; */
    /* color: #000; */
}
.section-heading:before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.section-heading.text-center:after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #f5835f;
    bottom: 0;
    left: calc(50% - 20px);
}
.section-heading.text-center:after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #ed5121; /* #3989c6; */
    bottom: 0;
    left: calc(50% - 20px);
}

.section-heading:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 120px;
    background-color: #3989c6;
}
.row.no-gutters {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.features {
    position: relative;
    margin-bottom: 40px;
}
.features-icon.fas, .features-icon.far {
    font-size: 30px;
    text-align: center;
    display: block;
    color: #ed5121; /* #3989c6; */
}
.features-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: -10px;
}
.features-title {
    text-align: center;
    color: #ed5121; /* #3989c6; */
    font-size: 0.95rem;
}
.features-description {
    font-size: 13.5px!important;
    /*margin-left: 40px;*/
    width: 85% !important;
    margin-top: 15px;
}

.heading-part-cls {
    display: inline-block;
    margin-left: 60px;
}
  
  #contact .contact-info {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
  }
  
  #contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #12afb2;
  }
  
  #contact .contact-info address,
  #contact .contact-info p {
    margin-bottom: 0;
    color: #000;
  }
  
  #contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999;
  }
  
  #contact .contact-info a {
    color: #000;
  }
  
  #contact .contact-info a:hover {
    color: #12afb2;
  }

  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

/** animate css */

.animate-btn {
  /*background-color: #004A7F;*/
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

/* 0% { background-color: #f5835f; -webkit-box-shadow: 0 0 3px #f5835f; }
  50% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 20px #ec4e1d; }
  100% { background-color: #f5835f; -webkit-box-shadow: 0 0 3px #f5835f; }
  
} */
 
@-webkit-keyframes glowing {
  0% { background-color: #f5835f; -webkit-box-shadow: 0 0 3px #f5835f; }
  50% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 20px #ec4e1d; }
  100% { background-color: #f5835f; -webkit-box-shadow: 0 0 3px #f5835f; }
}

@-moz-keyframes glowing {
  0% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 3px #f5835f; }
  50% { background-color: #f5835f; -webkit-box-shadow: 0 0 20px #ec4e1d; }
  100% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 3px #ec4e1d; }
}

@-o-keyframes glowing {
  0% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 3px #f5835f; }
  50% { background-color: #f5835f; -webkit-box-shadow: 0 0 20px #ec4e1d; }
  100% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 3px #ec4e1d; }
}

@keyframes glowing {
   0% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 3px #f5835f; }
  50% { background-color: #f5835f; -webkit-box-shadow: 0 0 20px #ec4e1d; }
  100% { background-color: #ec4e1d; -webkit-box-shadow: 0 0 3px #ec4e1d; }
}

.animate-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.animate-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.animate-btn:hover span {
  padding-right: 25px;
}

.animate-btn:hover {
    color: #ffffff;
}

.animate-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/** footer css starts here */


#footer {
  background: #000;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #111;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #12afb2;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #12afb2;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #12afb2;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
  text-decoration: none;
}

#footer .footer-top .footer-links ul a:hover {
  color: #12afb2;
  text-decoration: none;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

/* #footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
} */

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
    margin: -5px;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #12afb2;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
