@media (min-width: 480px) {
.loginformbg{
	background-color :#e7f7fc;
	height:100%;
	padding-top:50px;
	}

}
	


html,
body {
  height: 100%;
  max-height:100%;
}

body {
   -ms-flex-align: center;
  align-items: center;
  background-color: #FFF;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.loginbg{
	background:url(../img/login-bg.jpg) no-repeat right;
	height:100%;
	vertical-align:middle;
	}
	
.loginformbg{
	background-color :#e7f7fc;
	height:100%;
	}
	


